<div class="card mb-3" *ngIf="articleData">
  <div class="card-body">

    <span>id: {{ articleData.id }}, </span>
    <span>title: {{ articleData.title }}, </span>
    <span>category: {{ articleData.category}}, </span>
    <span>content: {{ articleData.content}}, </span>
    <button (click)="removeArticle(articleData.id!)" class="btn btn-danger">remove</button>
    <button routerLink="/article-form" [queryParams]="{id: articleData.id}" class="btn btn-warning">edit</button>

  </div>
</div>
