<form class="mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">

  <label for="login">login</label>
  <input formControlName="username" id="login" />

  <label for="password">pass</label>
  <input formControlName="password" id="password" type="password" />

  <button>login</button>

</form>
