<div class="container">
  <div class="card">
    <div class="card-body">
      <button *ngIf="isLogged" class="btn btn-link" routerLink="/users">Users</button>
      <button *ngIf="isLogged" class="btn btn-link" routerLink="/articles">Articles</button>
      <button *ngIf="isLogged" class="btn btn-link" routerLink="/article-form">Add article</button>
      <button *ngIf="!isLogged" class="btn btn-link" routerLink="/login">Login</button>
      <button *ngIf="isLogged" (click)="logout()" class="btn btn-link">Logout</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
