<form class="mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">

  <label for="title">title</label>
  <input formControlName="title" id="title" />
  <p *ngIf="form.get('title')?.touched && form.get('title')?.hasError('required')"
     class="text-danger">Pole jest wymagane</p>
  <p *ngIf="form.get('title')?.touched && form.get('title')?.hasError('minlength')"
     class="text-danger">Pole wymaga minimum 5 znaków</p>
  <p *ngIf="form.get('title')?.touched && form.get('title')?.hasError('maxlength')"
     class="text-danger">Pole wymaga maksimum 20 znaków</p>

  <label for="content">content</label>
  <input formControlName="content" id="content" />

  <label for="category">category</label>
  <input formControlName="category" id="category"/>

  <button>save</button>

</form>
