<div class="card mb-3" [class.special]="!inside && odd" [class.bg]="inside"
     *ngIf="userData" (dblclick)="show = !show" (mouseenter)="inside = true" (mouseleave)="inside = false">
  <div class="card-body">

    <span class="ln">id: {{ userData.id }}, </span>
    <span class="fn">username: {{ userData.username | titlecase }}, </span>
    <span class="ln">role: {{ userData.role | uppercase }} </span>
    <button class="btn btn-info" (click)="show = !show">{{ show ? 'less' : 'more' }}</button>
    <div *ngIf="show">
      <span class="fn">phone: {{ userData.phone.phone }}, </span>
      emails: <span class="ln" *ngFor="let email of userData.emails">{{ email.email }}, </span>
      addresses: <span class="ln" *ngFor="let address of userData.addresses">{{ address.city }}, {{ address.street }}</span>
    </div>

  </div>
</div>
